//
//  사용될 컬러 팔레트
//
$maincolor: #003893;
$subcolor0: #3E1C91;
$subcolor1: #0D7FE9;
$subcolor2: #05A7CF;
$subcolor3: #99E9EC;
$txtcolor: #222;
$txtsubcolor: #888;
$white: #FFF;
$black: #000;
$error: #E85600;
$border: #EAEAEA;
$bg: #F6FBFF;

//
//  그 외 세팅
//
$containerMinW: 980px;
$containerMaxW: 1180px;

//  스크롤바 디자인 터치
::-webkit-scrollbar {
    width: 12px;
    background: darken($subcolor1, 20%);
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    background-clip: padding-box;
    background-color: $subcolor1;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: lighten($subcolor1, 15%);
}

//
//  바디에 배경을 넣었습니다만 div로 분리해도 좋을 것 같아요
//
body {
    min-height: 980px;
    background: url('../img/bg0.png') no-repeat fixed center;
    background-size: cover;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.bg0 {
        background-image: url('../img/bg0.png');
    }
    &.bg1 {
        background-image: url('../img/bg1.jpg');
    }
    &.bg2 {
        background-image: url('../img/bg2.jpg');
    }
    &.bg3 {
        background-image: url('../img/bg3.jpg');
    }
}

//
//  마우스오버 효과 트랜지션
//
:hover,
:hover *,
:hover::after,
:hover::before {
    transition: all .15s ease-in-out;
}

//
//  브릿지 : 풀 그라디언트가 들어갑니다
//
.bridge-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(0,56,147,0.85) 35%, rgba(2,0,36,0.8) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(0,56,147,0.85) 35%, rgba(2,0,36,0.8) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(0,56,147,0.85) 35%, rgba(2,0,36,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0d7fe9",GradientType=1);
    cursor: default;
    header, .container, footer {
        flex-shrink: 0;
    }
    .container {
        flex-grow: 1;
    }
}

//
//  레이아웃 통 규격
//
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 100px 50px 40px;
    max-width: $containerMaxW;
    min-width: $containerMinW;
    > .columns {
        width: 100%;
    }
}

//
//  GNB
//
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 20px 28px;
    width: 100%;
    letter-spacing: 0.5px;
    .navbar-section:first-child {
        .navbar-brand {
            margin-right: 40px;
            &::before {
                content: '';
                display: block;
                width: 176px;
                height: 24px;
                background: url('../img/logo.svg') no-repeat center;
                background-size: 176px;
            }
            span {
                display: none;
            }
        }
        a, .btn-link {
            border: 0;
            color: $white;
            &:hover {
                background: none;
                color: lighten($subcolor1, 20%);
            }
        }
        .btn-link {
            position: relative;
            margin: 0 18px;
            padding: 7px 0;
            font-weight: 600;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 0;
                height: 2px;
                background: lighten($subcolor1, 20%);
            }
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
        .is-current,
        .is-current:hover {
            color: $white;
            &::after {
                width: 100%;
                background: $white;
            }
        }
    }
    .btn.btn-primary {
        position: relative;
        border-color: $maincolor;
        background: $maincolor url('../img/i-connect.svg') no-repeat 16px center;
        padding-right: 20px;
        width: 160px;
        height: 50px;
        color: $white;
        font-weight: 600;
        font-size: 15px;
        text-align: right;
        border-radius: 4px;
        opacity: .5;
        &:hover,
        &:focus {
            opacity: 1;
            background-color: lighten($maincolor, 8%);
        }
    }
    .dropdown-toggle {
        border-color: $bg;
        background: $bg url('../img/i-lock.svg') no-repeat 16px center;
        padding: 0 12px 0 42px;
        height: 50px;
        color: darken($subcolor1, 20%);
        font-weight: 500;
        font-size: 15px;
        text-align: right;
        border-radius: 4px;
        box-shadow: 0 1px 16px darken($maincolor, 15%);
        strong {
            padding-right: 8px;
        }
        &:hover,
        &:focus {
            border-color: $white !important;
            background-color: lighten($subcolor1, 45%);
        }
    }
    .icon-shutdown {
        margin-right: 4px;
        font-size: 14px;
        opacity: .4;
    }
}

//
//  상단 텍스트 슬로건
//
.introduce {
    margin-bottom: 32px;
    padding: 0 16px;
    width: 100%;
    color: $white;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.54;
    span {
        position: relative;
        display: inline-block;
        &:last-child {
            font-weight: 700;
            font-size: 32px;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 4px;
            width: 100%;
            height: 16px;
            background: $maincolor;
            mix-blend-mode: multiply;
            opacity: .4;
            border-radius: 3px;
        }
    }
}

//
//  aside 튜토리얼
//
.aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .tutorial {
        position: relative;
        div {
            position: relative;
            margin-right: 16px;
            padding: 24px;
            background: rgba($black, .4);
            color: rgba($white, .75);
            backdrop-filter: blur(10px);
            border-radius: 8px;
            & + div {
                margin-top: 40px;
                &::before {
                    content: '';
                    position: absolute;
                    top: -30px;
                    left: 50%;
                    margin-left: -40%;
                    width: 80%;
                    height: 20px;
                    border: 1px dashed rgba($white, .5);
                    border-width: 0 1px;
                }
            }
            em {
                position: absolute;
                top: 50%;
                left: -14px;
                margin-top: -14px;
                width: 28px;
                height: 28px;
                background: $maincolor;
                color: $white;
                font-weight: 700;
                font-size: 14px;
                line-height: 28px;
                text-align: center;
                border-radius: 15px;
            }
            span {
                display: block;
                font-size: 15px;
                line-height: 1.54;
                word-break: keep-all;
            }
            &:first-child,
            &.current-step {
                color: $white;
                font-weight: 600;
                em {
                    background: $subcolor1;
                    animation: effectPoing 1s infinite;
                }
            }
        }
    }
    .theme {
        margin-right: 16px;
        padding: 20px 20px 16px;
        background: rgba($black, .4);
        color: rgba($white, .75);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        &::before {
            display: none;
        }
        h4 {
            font-weight: 600;
            font-size: 13px;
        }
        .form-group {
            display: flex;
            align-items: center;
            padding: 0;
            width: 100%;
            background: none;
            backdrop-filter: none;
            font-weight: 600;
            font-size: 13px;
            label + label {
                margin-left: 8px;
            }
        }
    }
}

//
//  코인 전환 폼
//
.form-exchange {
    z-index: 1;
    position: relative;
    form {
        box-sizing: border-box;
        padding: 40px;
        background: $white;
        border-radius: 8px;
    }
    .columns + .columns {
        margin-top: 20px;
    }
    .columns {
        align-items: center;
    }
    .form-label {
        display: flex;
        flex-direction: column;
        padding: 0;
        em {
            color: $subcolor1;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.2px;
        }
        span {
            color: $txtcolor;
            font-weight: 500;
            font-size: .75rem;
        }
    }
    .col-auto {
        width: 80px;
        color: $subcolor1;
        font-size: 28px;
        text-align: center;
        animation: effectTransfer 1s infinite;
    }
    .btn-exchange {
        height: 64px;
        font-weight: 600;
        font-size: 15px;
        border-radius: 4px;
        box-shadow: 0 1px 16px rgba($subcolor1, .4);
    }
}

//
//  폼 요소들 리터치
//
.dropdown {
    display: block;
    .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.btn {
    border-color: lighten($subcolor1, 40%);
    &:hover {
        border-color: lighten($subcolor1, 20%);
        background-color: lighten($subcolor1, 48%);
    }
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    border-color: darken($subcolor1, 10%);
    background-color: darken($subcolor1, 10%);
}
.form-input,
.form-input:read-only {
    border-color: lighten($txtsubcolor, 32%);
    background-color: lighten($txtsubcolor, 45%);
}
.form-input:read-only {
    border-right: 0;
}
.has-icon-left {
    .form-input {
        padding-left: 40px;
    }
    .icon {
        left: 10px;
    }
}
.btn-lg {
    font-weight: 600;
}

//
//  모달 오버레이
//
.modal.modal-show .modal-overlay,
.modal:target .modal-overlay {
    background: rgba(darken($maincolor, 20%), .7);
}

//
//  모달 스타일
//
.modal .modal-container {
    padding: 12px 16px !important;
    border-radius: 8px !important;
    .modal-header {
        padding-bottom: 0;
        .form-group {
            margin-top: 16px;
        }
    }
    .modal-footer {
        padding-top: 0;
    }
    .modal-title {
        padding: 0 0 12px !important;
        color: $txtcolor;
        font-weight: 500;
        font-size: 18px;
        & + p {
            margin-bottom: 0;
            color: $txtsubcolor;
            font-size: 14px;
            line-height: 1.45;
        }
    }
}

//
//  테이블 목록
//
.table {
    font-size: 13px;
    line-height: 1.45;
    th, td {
        padding: 10px 12px;
        border-color: rgba($txtcolor, .1);
    }
    th {
        background: $bg;
        font-weight: 600;
        white-space: nowrap;
    }
    tbody {
        th {
            border-bottom-width: 1px;
        }
    }
}

//
//  주의사항 목록 형태
//
.caution {
    margin: 24px 0 0;
    padding: 16px 20px;
    background: lighten($subcolor1, 48%);
    font-size: 13px;
    border-radius: 4px;
    li {
        display: flex;
        position: left;
        margin: 0;
        padding: 6px 0;
        list-style: none;
        &::before {
            content: '•';
            margin-right: 12px;
            color: $subcolor1;
            font-weight: 600;
            font-size: 11px;
        }
    }
}

//
//  장식 아이콘/이미지
//
.i-deco,
.i-blockchain {
    display: block;
    width: 40px;
    height: 40px;
}
.i-blockchain.soon {
    background: $bg;
    border-radius: 50%;
    color: rgba($maincolor, .4);
    font-weight: 600;
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    transform: rotate(-15deg);
    & + strong {
        opacity: .4;
    }
}

//
//  코인 목록 : 모달용
//
.cards {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid transparent;
        .i-blockchain {
            margin: 10px;
        }
        strong {
            margin-bottom: 10px;
            font-size: 12px;
        }
        &:hover {
            cursor: pointer;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($subcolor1, .15);
                border-radius: 4px;
            }
        }
    }
}

//
//  지갑 : 모달용
//
.wallet-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .wallet-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border: 1px solid $border;
        font-size: 16px;
        border-radius: 8px;
        img {
            margin-bottom: 8px;
            width: 128px;
        }
    }
    .btn-sm {
        font-weight: 600;
        &:hover {
            color: $subcolor1;
        }
    }
}

//
//  지갑 주소/이름
//
.wallet-name {
    display: block;
    padding: 12px;
    background: $bg;
    color: $maincolor;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 2px;
    overflow: hidden;
    & + .modal-title {
        margin-top: 16px;
        font-weight: 600;
        font-size: 13px !important;
    }
}

//
//  수수료 값
//
.tax-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 13px;
    .tax-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 10px;
        background: $bg;
        color: $maincolor;
        border-radius: 2px;
        .tax-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            & + .tax-item::before {
                content: '';
                display: inline-block;
                margin: 0 8px;
                width: 1px;
                height: 12px;
                background: darken($bg, 10%);
            }
        }
        .tax-label {
            margin-right: 4px;
        }
        .tax-value {
            font-weight: 600;
        }
        .tax-type {
            margin-left: 4px;
            font-size: 10px;
        }
    }
}

//
//  전환하기 모달
//
.exchange-coin {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        background: $bg;
        border-radius: 50%;
        .i-blockchain {
            margin: 10px;
        }
        span {
            color: $subcolor1;
            font-weight: 600;
            font-size: 13px;
        }
        strong {
            color: $maincolor;
            font-weight: 600;
            font-size: 15px;
        }
    }
    &::before {
        content: '⇢';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -40px;
        margin-left: -40px;
        width: 80px;
        color: $subcolor1;
        font-size: 48px;
        line-height: 80px;
        text-align: center;
        animation: effectTransfer 1s infinite;
    }
}
.exchange-detail {
    padding: 0 12px;
    font-size: 13px;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        line-height: 40px;
        & + div {
            border-top: 1px solid $border;
        }
        &:only-child {
            margin: 12px 0;
            border: 1px solid $border;
            border-width: 1px 0;
        }
    }
    span {
        color: $txtsubcolor;
        font-size: 13px;
    }
    strong {
        color: $maincolor;
        font-weight: 600;
        font-size: 14px;
        text-align: right;
    }
}
.exchange-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0 4px 12px;
    background: $bg;
    span {
        padding: 4px;
        border: 1px solid $subcolor1;
        color: $subcolor1;
        font-weight: 500;
        font-size: 13px;
        border-radius: 2px;
    }
}

//
//  트랜잭션 내역 페이지
//
.bridge-explorer {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    background: $white;
    border-radius: 8px;
    .headline {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        height: 60px;
        background: $bg;
        font-size: 18px;
        line-height: 60px;
        border-radius: 4px;
        p {
            margin: 0;
            padding-left: 12px;
            color: $maincolor;
        }
    }
    .table {
        margin-top: 20px;
        text-align: center;
        thead {
            th {
                padding: 16px;
                background: $white;
                color: $txtsubcolor;
            }
        }
        td,
        th {
            vertical-align: middle;
        }
        tbody tr:hover {
            background: $bg !important;
        }
        .wallet-name {
            padding: 0;
            max-width: 240px;
            background: none;
            font-size: 14px;
        }
        a {
            color: $maincolor;
            text-decoration: underline;
        }
    }
}

//
//  내역 상태
//
[data-status] {
    color: $maincolor;
    font-weight: 600;
    &[data-status='fail'] {
        color: $error;
    }
    &[data-status='ing'] {
        color: $subcolor1;
    }
}
tr.is-fail {
    background: rgba($error, .05);
}
tr.is-ing {
    background: rgba($maincolor, .05);
}
td.is-empty {
    padding: 100px 0;
    color: $txtsubcolor;
    font-size: 15px;
}

//
//  붙임말
//
.ux-hint {
    margin-top: 12px;
    padding: 6px 12px;
    color: $maincolor;
    font-size: 14px;
    line-height: 1.65;
    word-break: keep-all;
    text-align: center;
    a {
        font-weight: 600;
        &:hover {
            color: $subcolor1;
        }
    }
}

//
//  로딩
//
.loading {
    margin: 12px;
}

//
//  주의사항
//
[data-caution] {
    position: relative;
    padding: 12px 12px 12px 24px;
    font-size: 12px;
    line-height: 18px;
    &::before {
        content: '!';
        position: absolute;
        left: 12px;
        top: 12px;
        width: 18px;
        height: 18px;
        color: $subcolor0;
        font-weight: 700;
        font-size: 11px;
        line-height: 18px;
    }
}

//
//  블럭타입 메시지 : 데이터 없음, 안내 등의 메시지용
//
.block-msg {
    text-align: center;
    .icon-4x,
    img {
        display: block;
        margin: 0 auto 24px;
        width: 88px;
        color: $subcolor1;
    }
}

//
//  페이지네이션
//
.pagination {
    margin-top: 20px;
    justify-content: center;
    font-size: 15px;
    a {
        color: $maincolor;
    }
    .active {
        font-weight: 600;
    }
}

//
//  기타 유틸리티 클래스
//
.is-disable {
    opacity: .4;
    cursor: not-allowed;
    a:hover {
        background: none !important;
        color: inherit !important;
        cursor: not-allowed;
    }
}

//
//  푸터
//
footer {
    padding: 32px 0;
    border-top: 1px solid rgba($white, .2);
    backdrop-filter: blur(10px);
    color: $white;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: center;
}

//
//  모바일 접근시 안내
//
.is-mobile {
    opacity: 0;
    display: none;
    z-index: 500;
    box-sizing: border-box;
    position: absolute;
    left: 5%;
    top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 90%;
    height: 90%;
    background: rgba(255,255,255,.8);
    color: $maincolor;
    font-size: 16px;
    word-break: keep-all;
    line-height: 1.65;
    text-align: center;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    strong {
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .is-mobile {
        opacity: 1;
        display: flex;
    }
}

//
//  애니메이션 효과
//  effectPoing : 튜토리얼 단계 숫자 고동치는 효과
//  effectTransfer : 코인 to 코인 전환 화살표 이동 효과
//
@keyframes effectPoing {
    to {
        transform: scale(1.15);
    }
}
@keyframes effectTransfer {
    from {
        transform: translateX(-4px);
        opacity: .25;
    }
    to {
        transform: translateX(4px);
    }
}

//
//  SVG 아이콘
//
[data-icon] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: no-repeat center;
    background-size: 16px;
    transform: translateY(-1px) translateX(-2px);
    &[data-icon='window'] {
        background-image: url('../img/i-window.svg');
    }
    &[data-icon='copy'] {
        background-image: url('../img/i-copy.svg');
    }
    &[data-icon='success'] {
        background-image: url('../img/i-success.svg');
    }
    &[data-icon='info'] {
        background-image: url('../img/i-info.svg');
    }
    &[data-icon='error'] {
        background-image: url('../img/i-error.svg');
    }
    &[data-icon='history'] {
        width: 24px;
        height: 24px;
        background-size: 24px;
        background-image: url('../img/i-history.svg');
    }
    &[data-icon='alert'] {
        display: block;
        margin: 0 auto 12px;
        width: 48px;
        height: 48px;
        background-size: 48px;
        background-image: url('../img/i-alert.svg');
    }
    &[data-icon='hand'] {
        display: block;
        margin: 0 auto 12px;
        width: 48px;
        height: 48px;
        background-size: 48px;
        background-image: url('../img/i-hand.svg');
    }
}