@charset "UTF-8";
::-webkit-scrollbar {
  width: 12px;
  background: #084a88;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-clip: padding-box;
  background-color: #0D7FE9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4da4f5;
}

body {
  min-height: 980px;
  background: url("../img/bg0.png") no-repeat fixed center;
  background-size: cover;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.bg0 {
  background-image: url("../img/bg0.png");
}

body.bg1 {
  background-image: url("../img/bg1.jpg");
}

body.bg2 {
  background-image: url("../img/bg2.jpg");
}

body.bg3 {
  background-image: url("../img/bg3.jpg");
}

:hover,
:hover *,
:hover::after,
:hover::before {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.bridge-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(rgba(2, 0, 36, 0.8)), color-stop(35%, rgba(0, 56, 147, 0.85)), to(rgba(2, 0, 36, 0.8)));
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.8) 0%, rgba(0, 56, 147, 0.85) 35%, rgba(2, 0, 36, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0d7fe9",GradientType=1);
  cursor: default;
}

.bridge-wrap header, .bridge-wrap .container, .bridge-wrap footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.bridge-wrap .container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 100px 50px 40px;
  max-width: 1180px;
  min-width: 980px;
}

.container > .columns {
  width: 100%;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 28px;
  width: 100%;
  letter-spacing: 0.5px;
}

.navbar .navbar-section:first-child .navbar-brand {
  margin-right: 40px;
}

.navbar .navbar-section:first-child .navbar-brand::before {
  content: '';
  display: block;
  width: 176px;
  height: 24px;
  background: url("../img/logo.svg") no-repeat center;
  background-size: 176px;
}

.navbar .navbar-section:first-child .navbar-brand span {
  display: none;
}

.navbar .navbar-section:first-child a, .navbar .navbar-section:first-child .btn-link {
  border: 0;
  color: #FFF;
}

.navbar .navbar-section:first-child a:hover, .navbar .navbar-section:first-child .btn-link:hover {
  background: none;
  color: #66b1f6;
}

.navbar .navbar-section:first-child .btn-link {
  position: relative;
  margin: 0 18px;
  padding: 7px 0;
  font-weight: 600;
}

.navbar .navbar-section:first-child .btn-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #66b1f6;
}

.navbar .navbar-section:first-child .btn-link:hover::after {
  width: 100%;
}

.navbar .navbar-section:first-child .is-current,
.navbar .navbar-section:first-child .is-current:hover {
  color: #FFF;
}

.navbar .navbar-section:first-child .is-current::after,
.navbar .navbar-section:first-child .is-current:hover::after {
  width: 100%;
  background: #FFF;
}

.navbar .btn.btn-primary {
  position: relative;
  border-color: #FFF;
  background: #FFF url("../img/i-connect.svg") no-repeat 16px center;
  padding-right: 20px;
  width: 180px;
  height: 54px;
  color: #084a88;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 16px #0a65b9;
          box-shadow: 0 1px 16px #0a65b9;
}

.navbar .btn.btn-primary:hover, .navbar .btn.btn-primary:focus {
  background-color: #deeefd;
}

.navbar .dropdown-toggle {
  border-color: #FFF;
  background: #FFF url("../img/i-lock.svg") no-repeat 16px center;
  padding: 0 12px 0 42px;
  height: 54px;
  color: #084a88;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 16px #001b47;
          box-shadow: 0 1px 16px #001b47;
}

.navbar .dropdown-toggle strong {
  padding-right: 8px;
}

.navbar .dropdown-toggle:hover, .navbar .dropdown-toggle:focus {
  border-color: #FFF !important;
  background-color: #deeefd;
}

.navbar .icon-shutdown {
  margin-right: 4px;
  font-size: 14px;
  opacity: .4;
}

.introduce {
  margin-bottom: 32px;
  padding: 0 16px;
  width: 100%;
  color: #FFF;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.54;
}

.introduce span {
  display: block;
}

.introduce span:last-child {
  font-weight: 700;
  font-size: 32px;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside .tutorial {
  position: relative;
}

.aside .tutorial div {
  position: relative;
  margin-right: 16px;
  padding: 24px;
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
}

.aside .tutorial div + div {
  margin-top: 40px;
}

.aside .tutorial div + div::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -40%;
  width: 80%;
  height: 20px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  border-width: 0 1px;
}

.aside .tutorial div em {
  position: absolute;
  top: 50%;
  left: -14px;
  margin-top: -14px;
  width: 28px;
  height: 28px;
  background: #003893;
  color: #FFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border-radius: 15px;
}

.aside .tutorial div span {
  display: block;
  font-size: 15px;
  line-height: 1.54;
  word-break: keep-all;
}

.aside .tutorial div:first-child, .aside .tutorial div.current-step {
  color: #FFF;
  font-weight: 600;
}

.aside .tutorial div:first-child em, .aside .tutorial div.current-step em {
  background: #0D7FE9;
  -webkit-animation: effectPoing 1s infinite;
          animation: effectPoing 1s infinite;
}

.aside .theme {
  margin-right: 16px;
  padding: 20px 20px 16px;
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
}

.aside .theme::before {
  display: none;
}

.aside .theme h4 {
  font-weight: 600;
  font-size: 13px;
}

.aside .theme .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 100%;
  background: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  font-weight: 600;
  font-size: 13px;
}

.aside .theme .form-group label + label {
  margin-left: 8px;
}

.form-exchange {
  z-index: 1;
  position: relative;
}

.form-exchange form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  background: #FFF;
  border-radius: 8px;
}

.form-exchange .columns + .columns {
  margin-top: 20px;
}

.form-exchange .columns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-exchange .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.form-exchange .form-label em {
  color: #0D7FE9;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.2px;
}

.form-exchange .form-label span {
  color: #222;
  font-weight: 500;
  font-size: .75rem;
}

.form-exchange .col-auto {
  width: 80px;
  color: #0D7FE9;
  font-size: 28px;
  text-align: center;
  -webkit-animation: effectTransfer 1s infinite;
          animation: effectTransfer 1s infinite;
}

.form-exchange .btn-exchange {
  height: 64px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 16px rgba(13, 127, 233, 0.4);
          box-shadow: 0 1px 16px rgba(13, 127, 233, 0.4);
}

.dropdown {
  display: block;
}

.dropdown .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  border-color: #c6e2fc;
}

.btn:hover {
  border-color: #66b1f6;
  background-color: #edf6fe;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
  border-color: #0a65b9;
  background-color: #0a65b9;
}

.form-input,
.form-input:-moz-read-only {
  border-color: #dadada;
  background-color: #fbfbfb;
}

.form-input,
.form-input:read-only {
  border-color: #dadada;
  background-color: #fbfbfb;
}

.form-input:-moz-read-only {
  border-right: 0;
}

.form-input:read-only {
  border-right: 0;
}

.has-icon-left .form-input {
  padding-left: 40px;
}

.has-icon-left .icon {
  left: 10px;
}

.btn-lg {
  font-weight: 600;
}

.modal.modal-show .modal-overlay,
.modal:target .modal-overlay {
  background: rgba(0, 17, 45, 0.7);
}

.modal .modal-container {
  padding: 12px 16px !important;
  border-radius: 8px !important;
}

.modal .modal-container .modal-header {
  padding-bottom: 0;
}

.modal .modal-container .modal-header .form-group {
  margin-top: 16px;
}

.modal .modal-container .modal-footer {
  padding-top: 0;
}

.modal .modal-container .modal-title {
  padding: 0 0 12px !important;
  color: #222;
  font-weight: 500;
  font-size: 18px;
}

.modal .modal-container .modal-title + p {
  margin-bottom: 0;
  color: #888;
  font-size: 14px;
  line-height: 1.45;
}

.table {
  font-size: 13px;
  line-height: 1.45;
}

.table th, .table td {
  padding: 10px 12px;
  border-color: rgba(34, 34, 34, 0.1);
}

.table th {
  background: #F6FBFF;
  font-weight: 600;
  white-space: nowrap;
}

.table tbody th {
  border-bottom-width: 1px;
}

.caution {
  margin: 24px 0 0;
  padding: 16px 20px;
  background: #edf6fe;
  font-size: 13px;
  border-radius: 4px;
}

.caution li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: left;
  margin: 0;
  padding: 6px 0;
  list-style: none;
}

.caution li::before {
  content: '•';
  margin-right: 12px;
  color: #0D7FE9;
  font-weight: 600;
  font-size: 11px;
}

.i-deco,
.i-blockchain {
  display: block;
  width: 40px;
  height: 40px;
}

.cards .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
}

.cards .card .i-blockchain {
  margin: 10px;
}

.cards .card strong {
  margin-bottom: 10px;
  font-size: 12px;
}

.cards .card:hover {
  cursor: pointer;
}

.cards .card:hover::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 127, 233, 0.15);
  border-radius: 4px;
}

.wallet-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wallet-wrap .wallet-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 1px solid #EAEAEA;
  font-size: 16px;
  border-radius: 8px;
}

.wallet-wrap .wallet-item img {
  margin-bottom: 8px;
  width: 128px;
}

.wallet-wrap .btn-sm {
  font-weight: 600;
}

.wallet-wrap .btn-sm:hover {
  color: #0D7FE9;
}

.wallet-name {
  display: block;
  padding: 12px;
  background: #F6FBFF;
  color: #003893;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 2px;
  overflow: hidden;
}

.wallet-name + .modal-title {
  margin-top: 16px;
  font-weight: 600;
  font-size: 13px !important;
}

.tax-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  font-size: 13px;
}

.tax-info .tax-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 10px;
  background: #F6FBFF;
  color: #003893;
  border-radius: 2px;
}

.tax-info .tax-data .tax-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tax-info .tax-data .tax-item + .tax-item::before {
  content: '';
  display: inline-block;
  margin: 0 8px;
  width: 1px;
  height: 12px;
  background: #c3e4ff;
}

.tax-info .tax-data .tax-label {
  margin-right: 4px;
}

.tax-info .tax-data .tax-value {
  font-weight: 600;
}

.tax-info .tax-data .tax-type {
  margin-left: 4px;
  font-size: 10px;
}

.exchange-coin {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.exchange-coin div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  background: #F6FBFF;
  border-radius: 50%;
}

.exchange-coin div .i-blockchain {
  margin: 10px;
}

.exchange-coin div span {
  color: #0D7FE9;
  font-weight: 600;
  font-size: 13px;
}

.exchange-coin div strong {
  color: #003893;
  font-weight: 600;
  font-size: 15px;
}

.exchange-coin::before {
  content: '⇢';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
  width: 80px;
  color: #0D7FE9;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  -webkit-animation: effectTransfer 1s infinite;
          animation: effectTransfer 1s infinite;
}

.exchange-detail {
  padding: 0 12px;
  font-size: 13px;
}

.exchange-detail div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 40px;
}

.exchange-detail div + div {
  border-top: 1px solid #EAEAEA;
}

.exchange-detail div:only-child {
  margin: 12px 0;
  border: 1px solid #EAEAEA;
  border-width: 1px 0;
}

.exchange-detail span {
  color: #888;
  font-size: 13px;
}

.exchange-detail strong {
  color: #003893;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
}

.exchange-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 0 4px 12px;
  background: #F6FBFF;
}

.exchange-address span {
  padding: 4px;
  border: 1px solid #0D7FE9;
  color: #0D7FE9;
  font-weight: 500;
  font-size: 13px;
  border-radius: 2px;
}

.bridge-explorer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  width: 100%;
  background: #FFF;
  border-radius: 8px;
}

.bridge-explorer .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 60px;
  background: #F6FBFF;
  font-size: 18px;
  line-height: 60px;
  border-radius: 4px;
}

.bridge-explorer .headline p {
  margin: 0;
  padding-left: 12px;
  color: #003893;
}

.bridge-explorer .table {
  margin-top: 20px;
  text-align: center;
}

.bridge-explorer .table thead th {
  padding: 16px;
  background: #FFF;
  color: #888;
}

.bridge-explorer .table td,
.bridge-explorer .table th {
  vertical-align: middle;
}

.bridge-explorer .table tbody tr:hover {
  background: #F6FBFF !important;
}

.bridge-explorer .table .wallet-name {
  padding: 0;
  max-width: 240px;
  background: none;
  font-size: 14px;
}

.bridge-explorer .table a {
  color: #003893;
  text-decoration: underline;
}

[data-status] {
  color: #003893;
  font-weight: 600;
}

[data-status][data-status='fail'] {
  color: #E85600;
}

[data-status][data-status='ing'] {
  color: #0D7FE9;
}

tr.is-fail {
  background: rgba(232, 86, 0, 0.05);
}

tr.is-ing {
  background: rgba(0, 56, 147, 0.05);
}

td.is-empty {
  padding: 100px 0;
  color: #888;
  font-size: 15px;
}

.ux-hint {
  margin-top: 12px;
  padding: 6px 12px;
  color: #003893;
  font-size: 14px;
  line-height: 1.65;
  word-break: keep-all;
  text-align: center;
}

.ux-hint a {
  font-weight: 600;
}

.ux-hint a:hover {
  color: #0D7FE9;
}

.loading {
  margin: 12px;
}

[data-caution] {
  position: relative;
  padding: 12px 12px 12px 24px;
  font-size: 12px;
  line-height: 18px;
}

[data-caution]::before {
  content: '!';
  position: absolute;
  left: 12px;
  top: 12px;
  width: 18px;
  height: 18px;
  color: #3E1C91;
  font-weight: 700;
  font-size: 11px;
  line-height: 18px;
}

.block-msg {
  text-align: center;
}

.block-msg .icon-4x,
.block-msg img {
  display: block;
  margin: 0 auto 24px;
  width: 88px;
  color: #0D7FE9;
}

.pagination {
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

.pagination a {
  color: #003893;
}

.pagination .active {
  font-weight: 600;
}

footer {
  padding: 32px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #FFF;
  font-size: 12px;
  letter-spacing: 4px;
  text-align: center;
}

.is-mobile {
  opacity: 0;
  display: none;
  z-index: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 5%;
  top: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.8);
  color: #003893;
  font-size: 16px;
  word-break: keep-all;
  line-height: 1.65;
  text-align: center;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.is-mobile strong {
  font-size: 18px;
}

@media (max-width: 480px) {
  .is-mobile {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes effectPoing {
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes effectPoing {
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@-webkit-keyframes effectTransfer {
  from {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    opacity: .25;
  }
  to {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}

@keyframes effectTransfer {
  from {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    opacity: .25;
  }
  to {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}

[data-icon] {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: no-repeat center;
  background-size: 16px;
  -webkit-transform: translateY(-1px) translateX(-2px);
          transform: translateY(-1px) translateX(-2px);
}

[data-icon][data-icon='window'] {
  background-image: url("../img/i-window.svg");
}

[data-icon][data-icon='copy'] {
  background-image: url("../img/i-copy.svg");
}

[data-icon][data-icon='success'] {
  background-image: url("../img/i-success.svg");
}

[data-icon][data-icon='info'] {
  background-image: url("../img/i-info.svg");
}

[data-icon][data-icon='error'] {
  background-image: url("../img/i-error.svg");
}

[data-icon][data-icon='history'] {
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-image: url("../img/i-history.svg");
}

[data-icon][data-icon='alert'] {
  display: block;
  margin: 0 auto 12px;
  width: 48px;
  height: 48px;
  background-size: 48px;
  background-image: url("../img/i-alert.svg");
}

[data-icon][data-icon='hand'] {
  display: block;
  margin: 0 auto 12px;
  width: 48px;
  height: 48px;
  background-size: 48px;
  background-image: url("../img/i-hand.svg");
}
/*# sourceMappingURL=bridge.css.map */